doctype html
html(lang='en')
  include ../common/teacherHead.pug
  +head()
  body

    header
      h1 Gono University
        p Result Hub 
      include ../common/teacherNavbar.pug
      +navbar()

    br

    h2 Created students
    br
    table.assign
      tr
        th Student Name
        th Batch
        th Exam Roll
        th Reg. no
        th Degree
        th Student ID
        th Semester
        th email
      for student in students
        tr(id=student.id)
          td #{student.s_name}
          td #{student.batch}
          td #{student.exam_roll}
          td #{student.reg_no}
          td #{student.degree}
          td #{student.s_id}
          td #{student.semester}
          td #{student.email}
          td 
            button(onclick=`deleteStudent('${student.id}')`) Delete    
  script(src="https://code.jquery.com/jquery-3.5.1.min.js")
  script(src="/js/deleteStudent.js")
