doctype html
html(lang='en')
  include ../common/teacherHead.pug
  +head()
  body
    header
      h1 Gono University
        p Result Hub 
      include ../common/teacherNavbar.pug
      +navbar()

    br
    br
    #buttons
      if works
        h2 Select for upload
        br
        br
        for work in works
          a(href='/Teacher/uploadResult70/' + work.session_id +'/'+work.semester+'/'+work.sub_id+'/')
            button #{work.session_id} #{work.semester} semester #{work.sub_id}
            br
            br
            |
            |
    #students

      if students
        h2 Upload Result
        button(onclick='showTheory()') Submit Theory Result
        |
        |
        button(onclick='showLab()') Submit Lab Result
        |
        |
        button(onclick='showViva()') Submit Viva Result
        |
        |
        a(href='')
          button Reset
        br
        br
        table
          tr
            th  Exam Roll
            th  Student ID
            th.theory  Q1
            th.theory  Q2
            th.theory  Q3
            th.theory  Q4
            th.theory  Q5
            th.theory  Q6
            th.theory  Q7
            th.theory  Q8
            th.theory  Q9
            th.theory  Q10
            th.theory  Q11
            th.theory  Q12
            th.theory  Q13
            th.theory  Q14
            th.theory  Q15
            th.lab  Lab 
            th.viva  Viva 
            th.viva  Practical 
            th.viva  Clinical
            th Result
            th  Upload
          for student in students
            tr(class=student.result_id) 
              form(id=student.result_id,action="json/",method="POST",autocomplete="off")
                td
                  input(name="roll",size="4",type="text",value=student.exam_roll)
                td
                  input.sid(name="sid",type="text",size="20",value=student.s_id)
                td.theory

                  input(name="q1",value=0,type="text",size="1")
                td.theory

                  input(name="q2",value=0,type="text",size="1")
                td.theory

                  input(name="q3",value=0,type="text",size="1")
                td.theory

                  input(name="q4",value=0,type="text",size="1")
                td.theory

                  input(name="q5",value=0,type="text",size="1")
                td.theory

                  input(name="q6",value=0,type="text",size="1")
                td.theory

                  input(name="q7",value=0,type="text",size="1")
                td.theory

                  input(name="q8",value=0,type="text",size="1")
                td.theory

                  input(name="q9",value=0,type="text",size="1")
                td.theory

                  input(name="q10",value=0,type="text",size="1")
                td.theory

                  input(name="q11",value=0,type="text",size="1")
                td.theory

                  input(name="q12",value=0,type="text",size="1")
                td.theory

                  input(name="q13",value=0,type="text",size="1")
                td.theory

                  input(name="q14",value=0,type="text",size="1")
                td.theory

                  input(name="q15",value=0,type="text",size="1")
                td.lab
                  input(name="lab",value=0,type="text",size="1")
                td.viva
                  input(name="viva",value=0,type="text",size="1")
                td.viva
                  input(name="practical",value=0,type="text",size="1")
                td.viva
                  input(name="clinical",value=0,type="text",size="1")
                td
                  input(type="radio",class="result",name="result", value="Passed")
                  label Passed
                  input(type="radio",class="result",name="result", value="Failed")
                  label Failed
                td 
                  button(type="submit",value="submit",onclick=`submitResult('${student.result_id}')`) Submit


    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="/js/submitResult70.js")
    script.
      function showTheory(){

        $(".lab").hide();
        $(".viva").hide();

      };
      function showLab(){

        $(".theory").hide();
        $(".viva").hide();

      };
      function showViva(){

        $(".lab").hide();
        $(".theory").hide();

      }
